@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

body {
    width: 100%;
    height: 100%;
}

html, body, #root, #app, #app>div {
    height: 100%;
    width: 100%;
}